<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pitch-Perfect-IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D42064D71ABC39E0004FEE70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42064EC1ABC39E1004FEE70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C9BF731ABC5393001B2786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
